// Theme independent styles, stuff that should not be messed with in extending themes
@mixin v-core-styles {

  %no-selection {
    @include user-select(none);
  }
  
  .v-generated-body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  .v-app {
    height: 100%;
  }
  
  .v-ui {
    position: relative;
  }
  
  // Prevent margin collapse
  .v-ui.v-ui-embedded {
    margin-top: -1px;
    border-top: 1px solid transparent;
  }
  
  .v-ui:focus {
    outline: none;
  }
  
  .v-overlay-container {
    width: 0;
    height: 0;
  }
  
  // Removes clear button from input fields introduced by IE10
  input::-ms-clear {
    display: none;
  }
  
  .v-drag-element {
    z-index: 60000;
    /* override any other position properties */
    position: absolute !important;
    cursor: default;
  }
  
  .v-clip {
    overflow: hidden;
  }
  
  .v-scrollable {
    overflow: auto;
    line-height: 0;
  }
  
  .v-ios.v-webkit .v-scrollable {
    -webkit-overflow-scrolling: touch; 
  }
  
  // Disable native scrolling on iOS 5 due to issue #8792
  .v-ios5.v-webkit .v-scrollable {
    -webkit-overflow-scrolling: none;
  }
  
  .v-assistive-device-only {
    position: absolute;
    top: -2000px;
    left: -2000px;
    width: 10px;
    overflow: hidden;
  }
  
  .v-icon,
  .v-errorindicator,
  .v-required-field-indicator,
  .v-caption,
  .v-captiontext {
    display: inline-block;
    line-height: $v-line-height;
  }
  
  .v-tooltip {
    pointer-events: none;
  }
  
  // TODO see if these are really needed
  //.v-tooltip-text {
  //  overflow: auto;
  //}
  //.v-tooltip .v-errormessage {
  //  overflow: auto;
  //}
  
  
}








// Make the BODY element scrollable instead of the .v-ui element
@mixin natural-page-scrolling {
  
  html {
    height: auto;
  }
  
  .v-generated-body {
    height: auto;
    overflow: auto;
  }
  
  .v-app,
  .v-ui.v-scrollable {
    height: auto !important;
    overflow: visible !important;
  }
  
  // Reposition loading indicator so that it doens't scroll with the page
  .v-loading-indicator {
    position: fixed !important;
  }
  
  // Reposition notifications so that they don't scroll with the page
  .v-Notification {
    position: fixed !important;
    //top: 45% !important;
  }
  
  .v-Notification-system {
    //top: 0 !important;
  }
  
  .v-Notification-tray {
  	//top: auto !important;
  }
  
}
