$v-app-loading-text: "Loading resources...";
//$v-app-background-color: hsl(160, 55%, 40%);
//$v-shadow-style: none;
//$v-bevel-style: none;
//$v-gradient-depth: 3%;
//$v-focus-color: #0bf;
//$v-font-size: 18px;
//$v-unit-size: 39px;
//$v-font-weight: 400;
//$v-border-radius: 18px;
//$v-selection-color: orange;
//$v-bevel-style: inset 0 -2px 0 shade;

//$v-font-family: "Open Sans", sans-serif;

@import "../valo/valo";


.dawn {
  @include v-valo;
  @include v-valo-component-group;

  .topbar {

    //$v-app-background-color: v-valo-selection-color();
    @include v-valo-menubar;

    .v-menubar {
      @include v-valo-menubar-menuitem-checked($background-color: v-valo-selection-color());
    }

    @include v-valo-panel-caption-style;
    font-size: $v-font-size;
    padding: $v-layout-spacing-vertical $v-layout-spacing-horizontal*2;
    height: auto;
    position: relative;
    z-index: 2;

  }

  @include v-valo-splitpanel-small($stylename: contacts);

  .contacts {
    background: #fff;

    .v-splitpanel-first-container {
      .v-textfield {
        @include v-valo-textfield-borderless-style;
        border-bottom: 1px solid v-valo-textfield-border-color();
      }

      @include v-valo-textfield-inline-icon;

      @include v-valo-table;
      .v-table {
        //@include v-valo-table-no-stripes;
        @include v-valo-table-no-vertical-lines;
        //@include v-valo-table-no-horizontal-lines;
        @include v-valo-table-no-header;
        @include v-valo-table-borderless;
      }
    }

    .v-splitpanel-second-container {
      .v-formlayout.light {
        @include v-valo-formlayout-light-style;
      }
    }
  }

}
