// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-font-size: 12px;
//$v-line-height: 1.5;
$v-font-color: black;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
$v-border-radius: 2px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

$v-unit-size: round(1.5 * $v-font-size);
$valo-shared-pathPrefix: "../valo/";

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples


// Defined an undefined property (in 7.5-SNAPSHOT)
$v-grid-cell-horizontal-border: 1px;

@import "../valo/valo.scss";

@mixin dawn-pro {
  @include valo;
  
  .v-button {
      line-height:1;
      .v-icon {
          line-height: 6px;
      }
  }

  // Insert your own theme rules here
}

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.dawn-pro {
  @include dawn-pro;

}
