@mixin fonts {
	@include fonticons;
}

$fontawesome-pathPrefix: null;
  
@if $relativePaths == false {
  $fontawesome-pathPrefix: "../core/fonts/";
}

@mixin fonticons {
	@include font(FontAwesome, fontawesome-webfont);
}

@mixin font($font-family, $file-name) {
	@font-face {
	  font-family: '#{$font-family}';
	  src: url('#{$fontawesome-pathPrefix}#{$file-name}.eot');
	  src: url('#{$fontawesome-pathPrefix}#{$file-name}.eot?#iefix') format('embedded-opentype'), 
	  	   url('#{$fontawesome-pathPrefix}#{$file-name}.woff') format('woff'), 
	  	   url('#{$fontawesome-pathPrefix}#{$file-name}.ttf') format('truetype'), 
	  	   url('#{$fontawesome-pathPrefix}#{$file-name}.svg') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}
    .#{$font-family} {
        font-family: '#{$font-family}';
        font-style: normal;
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        display: inline-block;
        text-align: center;
        @extend %no-selection;
        cursor: default;
    }
}
