@mixin fonts {
	@include icon-fonts;
}

@mixin icon-fonts {
	$fontawesome-pathPrefix: null;
	@if $relativePaths == false {
	  $fontawesome-pathPrefix: "../core/fonts/font-awesome/";
	}
	@include icon-font(FontAwesome, #{$fontawesome-pathPrefix}fontawesome-webfont);
}

@mixin icon-font($font-family, $file-name) {
	@font-face {
	  font-family: '#{$font-family}';
	  src: url('#{$file-name}.eot');
	  src: url('#{$file-name}.eot?#iefix') format('embedded-opentype'), 
	  	   url('#{$file-name}.woff') format('woff'), 
	  	   url('#{$file-name}.ttf') format('truetype'), 
	  	   url('#{$file-name}.svg') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}

  .#{$font-family} {
      font-family: '#{$font-family}';
      font-style: normal;
      font-weight: normal;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: inline-block;
      text-align: center;
      @extend %no-selection;
      cursor: default;
  }
}
