$small-size: ceil($v-unit-size*0.8);
$large-size: ceil($v-unit-size*1.2);

@mixin variants {
	@for $i from 1 through length($colors) {
		$context: nth($colors, $i);

		$variant: ();
		@for $j from 1 through length($colors) {
			@if $i != $j {
				$variant: join($variant, $j);
			}
		}

		.color-context#{$i} {

			$copy: $v-app-background-color;
			$v-app-background-color: $context;

			background-color: $context;
    	color: v-valo-font-color($context);

    	@if $i > 1 {
				@include v-valo-components;
			}

			.v-label-spinner {
				@include v-valo-spinner;
			}

		  .v-panel-well {
		    @include v-valo-panel-well-style;
		  }

		  .v-panel-borderless {
		    @include v-valo-panel-borderless-style;
		  }

		  .v-csslayout-well {
		    @include v-valo-panel-well-style;
		    @include v-valo-panel-adjust-content-margins;
		  }

		  .v-csslayout-card {
		    @include v-valo-panel-style;
		    @include v-valo-panel-adjust-content-margins;
		  }

		  @include v-valo-splitpanel-small($stylename: small);
    	
    	@if length($variant) >= 4 {


	    .v-button-color2 {
	      @include v-valo-button-style($background-color: nth($colors, nth($variant, 1)));
	    }
	    
	    .v-button-color3 {
	      @include v-valo-button-style($background-color: nth($colors, nth($variant, 2)));
	    }
	    
	    .v-button-color4 {
	      @include v-valo-button-style($background-color: nth($colors, nth($variant, 3)));
	    }
	    
	    .v-button-color5 {
	      @include v-valo-button-style($background-color: nth($colors, nth($variant, 4)));
	    }
	    
	    .v-button-color6 {
	      @include v-valo-button-style($background-color: $color6,
	                                   $bevel-style: (inset 0 2px 2px hilite, inset 0 -2px 2px shade), 
	                                   $bevel-depth: 30%, 
	                                   $gradient-depth: 30%, 
	                                   $border-radius: ceil($v-unit-size/2));
	      font-weight: 500;
	    }
	  
	    .v-button-focus {
	      @include v-valo-button-focus-style;
	    }
	  
	    .v-button-active:after {
	      @include v-valo-button-active-style;
	    }

	    .v-button-small {
	      @include v-valo-button-style($unit-size: $small-size);
	    }

	    .v-button-large {
	      @include v-valo-button-style($unit-size: $large-size);
	    }


	    .v-textfield-focused,
	    .v-textarea-focused {
	    	@include v-valo-textfield-focus-style;
	    }

	    .v-textfield-color1 {
	    	@include v-valo-textfield-style($background-color: nth($colors, nth($variant, 2)));
	    }

	    .v-textfield-color2 {
	    	@include v-valo-textfield-style($background-color: nth($colors, nth($variant, 3)));
	    }

	    .v-textfield-color3 {
	    	@include v-valo-textfield-style($background-color: nth($colors, nth($variant, 4)));
	    }

	    .v-textfield-small {
	    	@include v-valo-textfield-style($unit-size: $small-size);
	    	font-size: ceil($v-font-size * 0.8);
	    }

	    .v-textfield-large {
	    	@include v-valo-textfield-style($unit-size: $large-size);
	    	font-size: ceil($v-font-size * 1.2);
	    }



	    .v-textarea-color1 {
	    	@include v-valo-textarea-style($background-color: nth($colors, nth($variant, 2)));
	    }

	    .v-textarea-color2 {
	    	@include v-valo-textarea-style($background-color: nth($colors, nth($variant, 3)));
	    }

	    .v-textarea-color3 {
	    	@include v-valo-textarea-style($background-color: nth($colors, nth($variant, 4)));
	    }

	    .v-textarea-small {
	    	@include v-valo-textarea-style($unit-size: $small-size);
	    	font-size: ceil($v-font-size * 0.8);
	    }

	    .v-textarea-large {
	    	@include v-valo-textarea-style($unit-size: $large-size);
	    	font-size: ceil($v-font-size * 1.2);
	    }



	    .v-filterselect-color1 {
	    	@include v-valo-combobox-style($background-color: nth($colors, nth($variant, 2)));
	    }

	    .v-filterselect-color2 {
	    	@include v-valo-combobox-style($background-color: nth($colors, nth($variant, 3)));
	    }

	    .v-filterselect-color3 {
	    	@include v-valo-combobox-style($background-color: nth($colors, nth($variant, 4)));
	    }

	    .v-filterselect-small {
	    	@include v-valo-combobox-style($unit-size: $small-size);
	    	font-size: ceil($v-font-size * 0.8);
	    }

	    .v-filterselect-large {
	    	@include v-valo-combobox-style($unit-size: $large-size);
	    	font-size: ceil($v-font-size * 1.2);
	    }




	    .v-checkbox-color1 {
	    	@include v-valo-checkbox-style($background-color: nth($colors, nth($variant, 2)));
	    }

	    .v-checkbox-color2 {
	    	@include v-valo-checkbox-style($background-color: nth($colors, nth($variant, 3)));
	    }

	    .v-checkbox-small {
	    	@include v-valo-checkbox-style($unit-size: $small-size);
	    }

	    .v-checkbox-large {
	    	@include v-valo-checkbox-style($unit-size: $large-size);
	    }



	    .v-datefield-color1 {
	    	@include v-valo-datefield-style($background-color: nth($colors, nth($variant, 2)));
	    }

	    .v-datefield-color2 {
	    	@include v-valo-datefield-style($background-color: nth($colors, nth($variant, 3)));
	    }

	    .v-datefield-color3 {
	    	@include v-valo-datefield-style($background-color: nth($colors, nth($variant, 4)));
	    }

	    .v-datefield-small {
	    	@include v-valo-datefield-style($unit-size: $small-size);
	    }

	    .v-datefield-large {
	    	@include v-valo-datefield-style($unit-size: $large-size);
	    }



	    .v-panel-color1 .v-panel-caption {
	    	@include v-valo-panel-caption-style($background-color: nth($colors, nth($variant, 1)));
	    }

	    .v-panel-color2 .v-panel-caption {
	    	@include v-valo-panel-caption-style($background-color: nth($colors, nth($variant, 2)));
	    }

	    .v-panel-color3 .v-panel-caption {
	    	@include v-valo-panel-caption-style($background-color: nth($colors, nth($variant, 3)));
	    }


	    .v-accordion-item-color1 .v-accordion-item-caption .v-caption {
	    	@include v-valo-panel-caption-style($background-color: nth($colors, nth($variant, 2)));
	    }

	    $v-app-background-color: $copy;

			//@include addons;
			//@include jk-splitbutton($context-color: $context);

			}
		}

		@if length($colors) >= 4 {

    .v-filterselect-suggestpopup-color1 {
    	@include v-valo-combobox-popup-style($background-color: nth($colors, 2));
    }

    .v-filterselect-suggestpopup-color2 {
    	@include v-valo-combobox-popup-style($background-color: nth($colors, 3));
    }

    .v-filterselect-suggestpopup-color3 {
    	@include v-valo-combobox-popup-style($background-color: nth($colors, 4));
    }


    .v-datefield-popup-color1 {
    	@include v-valo-datefield-popup-style($context: nth($colors, 2));
    }

    .v-datefield-popup-color2 {
    	@include v-valo-datefield-popup-style($context: nth($colors, 3));
    }

    .v-datefield-popup-color3 {
    	@include v-valo-datefield-popup-style($context: nth($colors, 4));
    }

  	}
	}

	//@include jk-splitbutton-popup;
}