$v-app-background-color: #fafafa;
$color1: $v-app-background-color;
$color2: #606060;
$color3: #37B1EF;
$color4: #F45937;
$color5: #E5F4CD;
$color6: #fe902a;



@import "../valo/valo";

@import "menu";


// Pillow emboss effect for buttons
//@function v-valo-button-box-shadow($background-color, $context-color: $v-app-background-color, $emboss-depth: $v-emboss-depth, $gradient-depth: $v-gradient-depth) {
//  @return 0px 1px 1px 0px rgba(0,0,0, $emboss-depth/30%), 
//          0px 3px 1px 0px rgba(0,0,0, $emboss-depth/50%), 
//          0px 2px 1px 2px rgba(255,255,255, $emboss-depth/100%), 
//          0px 1px 0px 2px rgba(0,0,0, $emboss-depth/100%), 
//          inset 0px -1px 0px 1px scale-color($background-color, $lightness: -10%-$emboss-depth), 
//          inset 0px 1px 0px 1px lighten($background-color, $emboss-depth);
//}



@include natural-page-scrolling;

body {
    // Fake height so that the browser scrollbar can be restored between reloads
    min-height: 30000px;
}

.valo-demo {
  @include v-valo;

  @include valo-styleguide-menu;

  .components-root {
  	white-space: nowrap;
  }
  
  .components {
  	white-space: normal;
    min-width: 320px;
    max-width: 500px;
    display: inline-block;
  }
  
  .wrapping {
    @include v-valo-horizontallayout--wrapping;
  }
  
  .color1 {
    .v-button-color2 {
      @include v-valo-button-style($background-color: $color2);
    }
    
    .v-button-color3 {
      @include v-valo-button-style($background-color: $color3);
    }
    
    .v-button-color4 {
      @include v-valo-button-style($background-color: $color4);
    }
    
    .v-button-color5 {
      @include v-valo-button-style($background-color: $color5);
    }
    
    .v-button-color6 {
      @include v-valo-button-style($background-color: $color6, 
                                   $emboss-style: soft, 
                                   $emboss-depth: 30%, 
                                   $gradient-depth: 13%, 
                                   $border-radius: ceil($v-unit-size/2));
      font-weight: 600;
    }
  
    .v-button-focus {
      @include v-valo-button-focus-style;
    }
  
    .v-button-active {
      @include v-valo-button-active-style;
    }

    .v-button-small {
      @include v-valo-button-style($unit-size: ceil($v-unit-size*0.8));
    }

    .v-button-large {
      @include v-valo-button-style($unit-size: ceil($v-unit-size*1.2));
    }
  }

  .color2 {
    @include v-valo-components($context-color: $color2);
    
    .v-button-color2 {
      @include v-valo-button-style($background-color: $color1, $context-color: $color2);
    }
    
    .v-button-color3 {
      @include v-valo-button-style($background-color: $color3, $context-color: $color2);
    }
    
    .v-button-color4 {
      @include v-valo-button-style($background-color: $color4, $context-color: $color2);
    }
    
    .v-button-color5 {
      @include v-valo-button-style($background-color: $color5, $context-color: $color2);
    }
    
    .v-button-color6 {
      @include v-valo-button-style($background-color: $color6,
                                   $context-color: $color2, 
                                   $emboss-style: soft, 
                                   $emboss-depth: 30%, 
                                   $gradient-depth: 13%, 
                                   $border-radius: ceil($v-unit-size/2));
      font-weight: 600;
    }
  
    .v-button-focus {
      @include v-valo-button-focus-style($color2, $color2);
    }
  
    .v-button-active {
      @include v-valo-button-active-style($color2);
    }

    .v-button-small {
      @include v-valo-button-style($unit-size: ceil($v-unit-size*0.8), $context-color: $color2, $background-color: $color2);
    }

    .v-button-large {
      @include v-valo-button-style($unit-size: ceil($v-unit-size*1.2), $context-color: $color2, $background-color: $color2);
    }
  }
  
  .color3 {
    @include v-valo-components($context-color: $color3);
    
    .v-button-color2 {
      @include v-valo-button-style($background-color: $color1, $context-color: $color3);
    }
    
    .v-button-color3 {
      @include v-valo-button-style($background-color: $color2, $context-color: $color3);
    }
    
    .v-button-color4 {
      @include v-valo-button-style($background-color: $color4, $context-color: $color3);
    }
    
    .v-button-color5 {
      @include v-valo-button-style($background-color: $color5, $context-color: $color3);
    }
    
    .v-button-color6 {
      @include v-valo-button-style($background-color: $color6,
                                   $context-color: $color3, 
                                   $emboss-style: soft, 
                                   $emboss-depth: 30%, 
                                   $gradient-depth: 13%, 
                                   $border-radius: ceil($v-unit-size/2));
      font-weight: 600;
    }
  
    .v-button-focus {
      @include v-valo-button-focus-style($color3, $color3);
    }
  
    .v-button-active {
      @include v-valo-button-active-style($color3);
    }

    .v-button-small {
      @include v-valo-button-style($unit-size: ceil($v-unit-size*0.8), $context-color: $color3, $background-color: $color3);
    }

    .v-button-large {
      @include v-valo-button-style($unit-size: ceil($v-unit-size*1.2), $context-color: $color3, $background-color: $color3);
    }
  }
  
  .color4 {
    @include v-valo-components($context-color: $color4);
    
    .v-button-color2 {
      @include v-valo-button-style($background-color: $color1, $context-color: $color4);
    }
    
    .v-button-color3 {
      @include v-valo-button-style($background-color: $color2, $context-color: $color4);
    }
    
    .v-button-color4 {
      @include v-valo-button-style($background-color: $color3, $context-color: $color4);
    }
    
    .v-button-color5 {
      @include v-valo-button-style($background-color: $color5, $context-color: $color4);
    }
    
    .v-button-color6 {
      @include v-valo-button-style($background-color: $color6,
                                   $context-color: $color4, 
                                   $emboss-style: soft, 
                                   $emboss-depth: 30%, 
                                   $gradient-depth: 13%, 
                                   $border-radius: ceil($v-unit-size/2));
      font-weight: 600;
    }
  
    .v-button-focus {
      @include v-valo-button-focus-style($color4, $color4);
    }
  
    .v-button-active {
      @include v-valo-button-active-style($color4);
    }

    .v-button-small {
      @include v-valo-button-style($unit-size: ceil($v-unit-size*0.8), $context-color: $color4, $background-color: $color4);
    }

    .v-button-large {
      @include v-valo-button-style($unit-size: ceil($v-unit-size*1.2), $context-color: $color4, $background-color: $color4);
    }
  }
  
  .color5 {
    @include v-valo-components($context-color: $color5);
    
    .v-button-color2 {
      @include v-valo-button-style($background-color: $color1, $context-color: $color5);
    }
    
    .v-button-color3 {
      @include v-valo-button-style($background-color: $color2, $context-color: $color5);
    }
    
    .v-button-color4 {
      @include v-valo-button-style($background-color: $color3, $context-color: $color5);
    }
    
    .v-button-color5 {
      @include v-valo-button-style($background-color: $color4, $context-color: $color5);
    }
    
    .v-button-color6 {
      @include v-valo-button-style($background-color: $color6,
                                   $context-color: $color5, 
                                   $emboss-style: soft, 
                                   $emboss-depth: 30%, 
                                   $gradient-depth: 13%, 
                                   $border-radius: ceil($v-unit-size/2));
      font-weight: 600;
    }
  
    .v-button-focus {
      @include v-valo-button-focus-style($color5, $color5);
    }
  
    .v-button-active {
      @include v-valo-button-active-style($color5);
    }

    .v-button-small {
      @include v-valo-button-style($unit-size: ceil($v-unit-size*0.8), $context-color: $color5, $background-color: $color5);
    }

    .v-button-large {
      @include v-valo-button-style($unit-size: ceil($v-unit-size*1.2), $context-color: $color5, $background-color: $color5);
    }
  }

}