//@import "flat-style-vars";
//$v-app-background-color: #5d73c0;
//$v-unit-size: 24px;

@import "../valo/valo";
@import "addons";

//@import "flat-style-mixins";

$color1: $v-app-background-color;
$color2: #606060;
$color3: #5d73c0;
$color4: #F45937;
$color5: #d2f4f3;
$color6: #fe902a;
$colors: $color1, $color2, $color3, $color4, $color5;


$v-app-loading-text: "Loading Valo Test App...";



@import "menu";
@import "variants";

//@include natural-page-scrolling;

body {
    // Fake height so that the browser scrollbar can be restored between reloads
    //min-height: 6000px;
}



.valo-demo {
  @include v-valo;
  @include v-valo-component-group;

  @include valo-styleguide-menu;

  .components-root {
  	white-space: nowrap;
  }
  
  .components {
  	white-space: normal;
    min-width: 320px;
    max-width: 500px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
  }
  
  .wrapping {
    @include v-valo-horizontallayout--wrapping;
    .v-expand {
      overflow: visible;
    }
  }
  
  //@include variants;

  .v-button-primary {
    @include v-valo-button-style($background-color: $color3);
    padding: 0 round($v-unit-size/1.4);
  }

  .v-tabsheet-centered-tabs {
    @include v-valo-tabsheet-centered-tabs;
  }

  .v-tabsheet-equal-width-tabs {
    @include v-valo-tabsheet-equal-width-tabs($flex: false);
  }

  .v-tabsheet-icons-on-top {
    @include v-valo-tabsheet-icons-on-top;
  }

  .v-tabsheet-selected-closable {
    @include v-valo-tabsheet-only-selected-closable;
  }

  .v-tabsheet-padded-tabbar {
    @include v-valo-tabsheet-padded-tabbar;
  }

  .v-panel-borderless {
    @include v-valo-panel-borderless-style;
  }

  
  //.v-filterselect-button {
  //  @include v-valo-button-style;
  //  width: $v-unit-size;
  //  padding: 0;
  //  border-width: 0 0 0 $v-button-border-width;
  //}

}
