// Order of the includes matters, and it is: normal, bold, italic, bold+italic.

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {
//  @font-face {
//    font-family: $font-family;
//    font-weight: $weight;
//    font-style: $style;
//  }
}
