@mixin jk-splitbutton ($context-color: $v-app-background-color) {

  .jk-splitbutton > .v-button {
    display: block;
    margin-right: $v-unit-size - 1px;
    
    @if $v-border-radius {
      border-radius: $v-border-radius 0 0 $v-border-radius;
    }
    
    &:focus {
      z-index: 2;
    }
  }
  
  .jk-splitbutton {
  	
    & > .jk-splitbutton-secondary {
      display: block;
      margin-top: -$v-unit-size;
    
      &:focus {
        outline: none;
        & .jk-splitbutton-secondary-menuitem-caption {
          @include v-valo-button-focus-style($context-color: $context-color, $background-color: $context-color);
        }
      }
    }
    
    .jk-splitbutton-secondary-menuitem {
      display: block;
      text-align: right;
    }
  
    .jk-splitbutton-secondary-submenu-indicator {
      display: none;
    }
  
    .jk-splitbutton-secondary-menuitem-caption {
      @extend %v-widget;
      @include v-valo-button-style($context-color: $context-color, $background-color: $context-color, $clean: true);
      
      width: $v-unit-size;
      padding: 0;
      text-align: center;
      z-index: 1;
      
      @if $v-border-radius {
        border-radius: 0 $v-border-radius $v-border-radius 0;
      }
      
      &:before {
      	content: "\f0d7";
        font-family: FontAwesome;
        pointer-events: none;
        width: $v-unit-size - 2px;
        height: $v-unit-size - 2px;
        line-height: $v-unit-size - 2px;
        text-align: center;
        font-size: 1.2em;
      }
    }
    
    .jk-splitbutton-secondary-menuitem-selected .jk-splitbutton-secondary-menuitem-caption {
      @include v-valo-button-active-style;
    }
    
    &.v-disabled .jk-splitbutton-secondary-menuitem-caption,
    &.v-disabled > .jk-splitbutton-secondary:focus .jk-splitbutton-secondary-menuitem-caption  {
      @include opacity(.7);
      //@extend %tune-button-disabled;
      //&:before {
      //  border-top-color: tune-text-color-disabled($vaadin-ui-color) !important;
      //}
    }
    
  }
  
}


@mixin jk-splitbutton-popup ($context-color: $v-app-background-color) {
  .jk-splitbutton-secondary-popup {
    @include v-valo-menubar-popup-style($primary-stylename: jk-splitbutton-secondary, $context-color: $context-color);
  }
}