@mixin v-valo-gridlayout($primary-stylename : v-gridlayout) {

	.#{$primary-stylename}-margin-top {
		padding-top: $v-layout-margin-top;
	}

	.#{$primary-stylename}-margin-bottom {
		padding-bottom: $v-layout-margin-bottom;
	}

	.#{$primary-stylename}-margin-left {
		padding-left: $v-layout-margin-left;
	}

	.#{$primary-stylename}-margin-right {
		padding-right: $v-layout-margin-right;
	}

	.#{$primary-stylename}-spacing-on {
		padding-left: $v-layout-spacing-horizontal;
		padding-top: $v-layout-spacing-vertical;
	}


}