$v-link-font-color: null !default;
$v-link-text-decoration: null !default;
$v-link-cursor: pointer !default;


@mixin v-valo-link ($primary-stylename: v-link) {
  .#{$primary-stylename} {
    @include v-valo-link-style;
  }
}


@mixin v-valo-link-style {
  cursor: $v-link-cursor;

  a {
    text-decoration: $v-link-text-decoration;
    color: v-valo-link-font-color();
    @include transition(color 140ms);
    cursor: inherit;

    &:hover {
      color: lighten(v-valo-link-font-color(), 10%);
    }
  }

  .v-icon {
    cursor: inherit;
  }
}



@function v-valo-link-font-color ($color: null, $context: null) {
  $link-color: $color or $v-link-font-color or v-valo-focus-color($color: $color, $context: $context);
  @return $link-color;
}