@mixin v-valo-orderedlayout {
  
  .v-margin-top {
  	padding-top: $v-layout-margin-top;
  }
  
  .v-margin-right {
  	padding-right: $v-layout-margin-right;
  }
  
  .v-margin-bottom {
  	padding-bottom: $v-layout-margin-bottom;
  }
  
  .v-margin-left {
  	padding-left: $v-layout-margin-left;
  }
  
  .v-spacing {
  	width: $v-layout-spacing-horizontal;
  	height: $v-layout-spacing-vertical;
  }
  
}


@mixin v-valo-horizontallayout--wrapping {
    white-space: normal !important;
    
    & > .v-spacing + .v-slot,
    & > .v-slot:first-child {
      margin-bottom: $v-layout-spacing-vertical;
    }
    
    & > .v-slot:first-child:last-child {
      margin-bottom: 0;
    } 
}