$v-slider-track-size: round($v-unit-size/8) !default;
$v-slider-handle-size: round($v-unit-size/1.8) !default;


@mixin v-valo-slider ($primary-stylename: v-slider) {

	// Round to an even number
	$v-slider-track-size: $v-slider-track-size + $v-slider-track-size%2;
	$v-slider-handle-size: $v-slider-handle-size + $v-slider-handle-size%2;

	.#{$primary-stylename} {
		position: relative;

		&:focus {
			outline: none;

			.#{$primary-stylename}-handle:after {
				opacity: 1;
			}
		}
	}

	.#{$primary-stylename}-base {
		@include v-valo-progressbar-track-style;
		min-width: $v-unit-size * 5;
		height: $v-slider-track-size;
		margin: round(($v-unit-size - $v-slider-track-size)/2) round($v-slider-handle-size/2);
		white-space: nowrap;
		overflow: hidden;
		border-radius: $v-border-radius;

		&:after {
			@include v-valo-progressbar-indicator-style;
			content: "";
			display: inline-block;
			position: relative;
			margin-left: -100%;
			width: 100%;
			vertical-align: top;
		}
	}

	.#{$primary-stylename}-handle {
		margin-top: round(($v-unit-size - $v-slider-track-size)/-2);
		width: 0;
		display: inline-block;
		vertical-align: top;

		&:before {
			@include v-valo-button-style;
		}

		&:after {
			@include v-valo-button-focus-style;
			opacity: 0;
		}

		&:before,
		&:after {
			content: "";
			@include box-sizing(border-box);
			padding: 0;
			width: $v-slider-handle-size;
			height: $v-slider-handle-size;
			border-radius: 50%;
			position: absolute;
			z-index: 1;
			margin-top: round(($v-unit-size - $v-slider-handle-size)/2);
			margin-left: round($v-slider-handle-size/-2);
		}
	}

	.#{$primary-stylename}-feedback {
		border-radius: $v-border-radius;
		background: rgba(#333, .8);
		color: #fff;
		padding: 0 round($v-unit-size/6);
		box-shadow: 0 2px 5px 0 rgba(#000, .2);
	}



	// Vertical



	.#{$primary-stylename}-vertical {
		padding: round($v-slider-handle-size/2) 0;

		.#{$primary-stylename}-base {
			@include v-valo-gradient($color: darken($v-app-background-color, $v-bevel-depth/2), $style: linear-reverse, $direction: to right);
			min-width: 0;
			width: $v-slider-track-size;
			height: 100% !important;
			min-height: $v-unit-size * 5;
			margin: 0 round(($v-unit-size - $v-slider-track-size)/2);

			&:after {
				margin-left: 0;
				@include v-valo-gradient($color: v-valo-selection-color(), $direction: to right);
			}
		}

		.#{$primary-stylename}-handle {
			height: 0;
			width: $v-unit-size;
			display: block;

			&:before,
			&:after {
				margin-top: round($v-slider-handle-size/-2);
				margin-left: round(($v-slider-handle-size - $v-slider-track-size)/-2);
			}
		}
	}

}