$v-splitpanel-splitter-size: round($v-unit-size/5) !default;


@mixin v-valo-splitpanel($primary-stylename : v-splitpanel) {
	$copy: $v-shadow-depth;
	$v-shadow-depth: 0%;

	// Round to even number
	$v-splitpanel-splitter-size: $v-splitpanel-splitter-size + $v-splitpanel-splitter-size%2;

	.#{$primary-stylename} {
		overflow: hidden;
	}

	.#{$primary-stylename}-hsplitter {
		width: $v-splitpanel-splitter-size;
	}

	.#{$primary-stylename}-hsplitter div,
	.#{$primary-stylename}-vsplitter div {
		@include v-valo-button-style;
		@include box-sizing(border-box);
		height: auto;
		padding: 0;
		border-radius: 0;
		position: absolute;
		top: -$v-button-border-width;
		right: 0;
		bottom: -$v-button-border-width;
		left: 0;
		cursor: s-resize;
		cursor: row-resize;

		&:before {
			content: "";
			width: $v-unit-size;
			height: 0;
			border: 1px solid;
			$color: $v-button-background-color or $v-app-background-color;
			$shade: max($v-bevel-depth, 10%);
			$border-color1: scale-color($color, $lightness: -$shade, $saturation: -$shade/2);
			$border-color2: scale-color($color, $lightness: -$shade/2, $saturation: -$shade/4);
			border-color: $border-color1 $border-color2 $border-color2 $border-color1;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: round(-$v-unit-size/2);
			margin-top: -1px;
		}
	}

	.#{$primary-stylename}-vsplitter {
		height: $v-splitpanel-splitter-size;
	}

	.#{$primary-stylename}-hsplitter div {
		cursor: e-resize;
		cursor: col-resize;
		top: 0;
		right: -$v-button-border-width;
		bottom: 0;
		left: -$v-button-border-width;
		$color: $v-button-background-color or $v-app-background-color;
		@include v-valo-gradient($color: $color, $direction: to right);

		&:before {
			width: 0;
			height: $v-unit-size;
			margin-left: -1px;
			margin-top: round(-$v-unit-size/2);
		}
	}

	.v-disabled [class$="splitter"] div {
		cursor: default;

		&:before {
			display: none;
		}
	}

	// Allow undefined/auto height for horizontal split

	.#{$primary-stylename}-horizontal {
		.#{$primary-stylename}-second-container {
		  position: static !important;
		  display: inline-block;
		  margin-left: $v-splitpanel-splitter-size; /* Match to the width of the splitter element */
		  vertical-align: top;
		}

		.#{$primary-stylename}-first-container {
		  display: inline-block;
		  vertical-align: top;
		}
	}

	$v-shadow-depth: $copy;

}