$v-textfield-border-radius: null !default;
$v-textfield-bevel-style: inset 0 1px 0 shade !default;
$v-textfield-bevel-depth: null !default;
$v-textfield-background-color: null !default;
$v-textfield-unit-size: null !default;
$v-textfield-font-weight: 400 !default;
$v-textfield-border-width: $v-border-width !default;



@function v-valo-textfield-background-color ($context-color) {
  $bg-color: lighten($context-color, 8%);
  @if is-dark-color($context-color) {
    $bg-color: darken($context-color, 4%);
  }
  //@if $background-color and $background-color != $context-color {
  //  $bg-color: blend-multiply(transparentize($background-color,.9), $bg-color);
  //  $bg-color: blend-overlay(transparentize(scale-color($background-color, $saturation: -50%), .3), $bg-color);
  //}
  @return $bg-color;
}





@function v-valo-textfield-box-shadow ($bevel-style: $v-textfield-bevel-style, $bevel-depth: $v-bevel-depth) {
  @if $bevel-depth == 0 {
    @return none;
  }
  @return replace($bevel-style, shade, black($bevel-depth/500%));
}




@mixin v-valo-textfield-size ($unit-size, $border-radius) {
  height: $unit-size;
  $padding-width: ceil($unit-size/6);
  @if $border-radius {
    $padding-width: $padding-width + ceil($border-radius/3);
  }
  padding: 0 $padding-width;
}



@function v-valo-textfield-border-color ($context-color: $v-app-background-color, 
                                         $bevel-style: $v-bevel-style, $bevel-depth: $v-bevel-depth,
                                         $background-color: $v-textfield-background-color) {
  //$border-color: blend-darken(scale-color($ctx-color, $lightness: max(-20%, -$emb-depth), $saturation: -70%), transparentize(scale-color($ctx-color, $lightness: max(-20%, -$emb-depth), $saturation: -25%), 1-$emb-depth/100%));
  $border-color: blend-darken($background-color, scale-color($context-color, $lightness: max(-50%, -$bevel-depth)));
  $border-color: scale-color($border-color, $saturation: -$bevel-depth);
  @return $border-color;
}




@mixin v-valo-textfield-style ($context-color: $v-app-background-color,
                               $bevel-style: $v-textfield-bevel-style, $bevel-depth: $v-textfield-bevel-depth, 
                               $unit-size: $v-textfield-unit-size, $border-radius: $v-textfield-border-radius,
                               $background-color: $v-textfield-background-color) {

  // Set up variable defaults
  $background-color: $background-color or v-valo-textfield-background-color($context-color);
  $bevel-style: $bevel-style or $v-bevel-style;
  $bevel-depth: $bevel-depth or $v-bevel-depth;
  $unit-size: $unit-size or $v-unit-size;
  $border-radius: $border-radius or $v-border-radius;
  
  margin: 0;
  font: inherit;
  font-weight: $v-textfield-font-weight;
  @include v-valo-textfield-size($unit-size, $border-radius);
  border-radius: $border-radius;
  border: $v-textfield-border-width solid v-valo-textfield-border-color($context-color, $bevel-style, $bevel-depth, $background-color);
  background: $background-color;
  color: v-valo-font-color($background-color);
  //box-shadow: v-valo-textfield-box-shadow($context-color: $ctx-color, $background-color: $bg-color, $bevel-style: $emb-style, $bevel-depth: $emb-depth);

  @if $v-animations-enabled {
    @include transition(box-shadow 180ms, border 180ms);
  }

  &.v-disabled {
    @include opacity(.3);
  }

  &:focus {
    @include v-valo-textfield-focus-style($context-color: $context-color);
  }
  
  // TODO allow parent selector to be used in interpolation
  &.v-textfield-prompt,
  &.v-textarea-prompt {
    @include v-valo-textfield-prompt-style($background-color);
  }

}


@mixin v-valo-textfield-prompt-style ($background-color) {
  $font-color: v-valo-font-color($background-color);
  $font-color: mix($background-color, $font-color);
  @if is-dark-color($background-color) and saturation($background-color) > 50% {
    $font-color: scale-color($font-color, $lightness: 20%);
  }
  color: $font-color;
}


@mixin v-valo-textfield-focus-style ($context-color: $v-app-background-color) {
  outline: none;
  @if $v-animations-enabled {
    @include transition(none);
  } 
  
  $focus-color: v-valo-focus-color($context-color: $context-color);
  
  @if color-luminance($focus-color) + 50 < color-luminance($context-color) {
    border-color: $focus-color;
  }
  
  box-shadow: v-valo-focus-box-shadow($color: $focus-color);
}


@mixin v-valo-textfield-readonly-style {
  background: transparent;
  box-shadow: none;
}


@mixin v-valo-textfield ($primary-stylename: v-textfield) {
  
  .#{$primary-stylename} {
    @include v-valo-textfield-style;
  }
  
  .#{$primary-stylename}-readonly {
    @include v-valo-textfield-readonly-style;
  }
  
}