$v-textfield-bevel-style: inset 0 1px 0 shade, 0 1px 0 hilite !default;
$v-textfield-bevel-depth: $v-bevel-depth !default;
$v-textfield-shadow-style: $v-shadow-style !default;
$v-textfield-shadow-depth: 0% !default;
$v-textfield-background-color: null !default;
$v-textfield-unit-size: $v-unit-size !default;
$v-textfield-font-weight: 400 !default;
$v-textfield-border-width: $v-border-width !default;
$v-textfield-border-radius: $v-border-radius !default;
$v-textfield-disabled-opacity: $v-disabled-opacity !default;



@function v-valo-textfield-background-color ($context) {
  $bg-color: lighten($context, 8%);
  @if is-dark-color($context) {
    $bg-color: darken($context, 4%);
  }
  @return $bg-color;
}





@function v-valo-textfield-box-shadow ($bevel-style: $v-bevel-style, $bevel-depth: $v-bevel-depth,
                                       $shadow-style: $v-shadow-style, $shadow-depth: $v-shadow-depth) {
  @if $bevel-depth == 0 and $shadow-depth == 0 {
    @return none;
  }
  @return v-valo-replace-hilite-and-shade($bevel-style, white($bevel-depth/500%), black($bevel-depth/500%)), 
          v-valo-shadow($shadow-style: $shadow-style, $shadow-depth: $shadow-depth);
}




@mixin v-valo-textfield-size ($unit-size, $border-radius) {
  height: $unit-size;
  $padding-width: ceil($unit-size/6);
  @if $border-radius {
    $padding-width: $padding-width + ceil($border-radius/3);
  }
  padding: 0 $padding-width;
}



@function v-valo-textfield-border-color ($bevel-style: $v-bevel-style, $bevel-depth: $v-bevel-depth,
                                         $background-color: $v-textfield-background-color) {
  $background-color: $background-color or v-valo-textfield-background-color($v-app-background-color);
  $border-color: if(color-luminance($background-color) < color-luminance($v-app-background-color), $background-color, $v-app-background-color);
  $border-color: blend-darken($border-color, scale-color($border-color, $lightness: max(-50%, -$bevel-depth/2)));
  $border-color: scale-color($border-color, $saturation: -$bevel-depth/2);
  @return $border-color;
}




@mixin v-valo-textfield-style ($bevel-style: $v-textfield-bevel-style, $bevel-depth: $v-textfield-bevel-depth, 
                               $shadow-style: $v-textfield-shadow-style, $shadow-depth: $v-textfield-shadow-depth,
                               $unit-size: $v-textfield-unit-size, $border-radius: $v-textfield-border-radius,
                               $background-color: $v-textfield-background-color) {

  $background-color: $background-color or v-valo-textfield-background-color($v-app-background-color);
  
  @include appearance(none);
  margin: 0;
  font: inherit;
  font-weight: $v-textfield-font-weight;
  @include v-valo-textfield-size($unit-size, $border-radius);
  border-radius: $border-radius;
  border: $v-textfield-border-width solid v-valo-textfield-border-color($bevel-style, $bevel-depth, $background-color);
  background: $background-color;
  color: v-valo-font-color($background-color);
  box-shadow: v-valo-textfield-box-shadow($bevel-style: $bevel-style, $bevel-depth: $bevel-depth, $shadow-style: $shadow-style, $shadow-depth: $shadow-depth);

  @if $v-animations-enabled {
    @include transition(box-shadow 180ms, border 180ms);
  }

  &.v-disabled {
    @include opacity($v-textfield-disabled-opacity);
  }

  &:focus {
    @include v-valo-textfield-focus-style($bevel-style: $bevel-style, $bevel-depth: $bevel-depth, $shadow-style: $shadow-style, $shadow-depth: $shadow-depth);
  }
  
  // TODO allow parent selector to be used in interpolation
  &.v-textfield-prompt,
  &.v-textarea-prompt {
    @include v-valo-textfield-prompt-style($background-color);
  }

}


@mixin v-valo-textfield-prompt-style ($background-color) {
  $font-color: v-valo-font-color($background-color);
  $font-color: mix($background-color, $font-color);
  @if is-dark-color($background-color) and saturation($background-color) > 50% {
    $font-color: scale-color($font-color, $lightness: 20%);
  }
  color: $font-color;
}


@mixin v-valo-textfield-focus-style ($bevel-style: $v-textfield-bevel-style, $bevel-depth: $v-textfield-bevel-depth, 
                                     $shadow-style: $v-textfield-shadow-style, $shadow-depth: $v-textfield-shadow-depth) {
  outline: none;
  @if $v-animations-enabled {
    @include transition(none);
  } 
  
  $focus-color: v-valo-focus-color();
  
  @if color-luminance($focus-color) + 50 < color-luminance($v-app-background-color) {
    border-color: $focus-color;
  }
  
  box-shadow: v-valo-textfield-box-shadow($bevel-style: $bevel-style, $bevel-depth: $bevel-depth, $shadow-style: $shadow-style, $shadow-depth: $shadow-depth), 
              v-valo-focus-box-shadow($color: $focus-color);
}


@mixin v-valo-textfield-readonly-style {
  background: transparent;
  box-shadow: none;
}


@mixin v-valo-textfield ($primary-stylename: v-textfield) {
  
  .#{$primary-stylename} {
    @include v-valo-textfield-style;
  }
  
  .#{$primary-stylename}-readonly {
    @include v-valo-textfield-readonly-style;
  }
  
}