@mixin v-core-colorpicker ($primary-stylename: v-colorpicker) {
  
  $v-valo-colorpicker-pathPrefix: null;
  @if $relativePaths == false {
    $v-valo-colorpicker-pathPrefix: "../core/components/";
  }

  .#{$primary-stylename}-popup.v-window {
    min-width: 220px !important;
  }
  
  .#{$primary-stylename}-gradient-clicklayer {
    @include opacity(0);
  }
  
  .rgb-gradient .#{$primary-stylename}-gradient-background {
    background: url(#{$v-valo-colorpicker-pathPrefix}colorpicker/img/gradient2.png);
  }
  
  .hsv-gradient .#{$primary-stylename}-gradient-foreground {
    background: url(#{$v-valo-colorpicker-pathPrefix}colorpicker/img/gradient.png);
  }
  
  .#{$primary-stylename}-gradient-lowerbox {
    border-right: 1px solid rgba(122,122,122,.5);
    border-top: 1px solid rgba(122,122,122,.5);
  }
  
  .#{$primary-stylename}-gradient-higherbox {
    border-left: 1px solid rgba(122,122,122,.5);
    border-bottom: 1px solid rgba(122,122,122,.5);
  }

  .#{$primary-stylename}-popup .v-slider.v-slider-red:before {
    background-color: red;
  }
  
  .#{$primary-stylename}-popup .v-slider.v-slider-green:before {
    background-color: green;
  }
  
  .#{$primary-stylename}-popup .v-slider.v-slider-blue:before {
    background-color: blue;
  }

  .#{$primary-stylename}-popup .v-slider.hue-slider:before {
    background: url(#{$v-valo-colorpicker-pathPrefix}colorpicker/img/slider_hue_bg.png);
  }

  .#{$primary-stylename}-popup .v-textfield-dark {
    color: #fff;
  }
  
  .#{$primary-stylename}-popup .v-textfield-light {
    color: #000;
  }
  
  // TODO magic numbers
  .#{$primary-stylename}-grid {
    height: 319px;
  }
  
  .#{$primary-stylename}-popup .colorselect td {
    line-height: 15px;
  }
  
}