@mixin v-core-tabsheet ($primary-stylename: v-tabsheet) {
  /*
  .#{$primary-stylename}-tabcontainer {
    white-space: nowrap;
  }
  
  .#{$primary-stylename}-tabs {
  	// Inline block needed to make element grow it's offset width with its children
  	display: inline-block;
    white-space: nowrap;
  	
    & > tbody {
      display: block;
  	}
  	
    & tr {
      display: block;
  	}
  }
  
  .#{$primary-stylename}-tabitemcell {
  	display: inline-block;
  	padding: 0;
  }
  
  .#{$primary-stylename}-tabitem > .v-caption {
    width: auto !important;
  }
  */
  
  .#{$primary-stylename}-hidetabs > .#{$primary-stylename}-tabcontainer,
  .#{$primary-stylename}-spacertd,
  .#{$primary-stylename}-deco,
  .v-disabled .#{$primary-stylename}-scroller,
  .#{$primary-stylename} .v-disabled .#{$primary-stylename}-caption-close {
    display: none;
  }
  
  .#{$primary-stylename}-content {
    position: relative;
  }
  
}