@mixin v-core-table ($primary-stylename: v-table) {

  .#{$primary-stylename}-header table,
  .#{$primary-stylename}-footer table,
	.#{$primary-stylename}-table {
		border-spacing: 0;
		border-collapse: separate;
		margin: 0;
		padding: 0;
		border: 0;
		line-height: $v-line-height;
	}

	.#{$primary-stylename}-resizer,
	.#{$primary-stylename}-sort-indicator {
		float: right;
	}

	.#{$primary-stylename}-cell-wrapper {
		overflow: hidden;
	}

	.#{$primary-stylename}-caption-container-align-right {
		text-align: right;
	}

	.#{$primary-stylename}-header td,
	.#{$primary-stylename}-footer td,
	.#{$primary-stylename}-cell-content {
		padding: 0;
	}

	.#{$primary-stylename}-sort-indicator {
		width: 0;
	}

}