@mixin v-core-twincolselect ($primary-stylename: v-select-twincol) {
  
  .#{$primary-stylename} {
    .v-button {
      @extend %v-widget;
    }
  }
  
  .#{$primary-stylename}-buttons {
  	white-space: nowrap;
    display: inline-block;
    vertical-align: top;
  }
  
}