@mixin v-core-widget-style {
  @include box-sizing(border-box);
  display: inline-block;
  text-align: left;
  white-space: normal;
  
  // Needed to overcome extra white-space related issues caused by HTML5 doctype + inline-block
  line-height: $v-line-height;
  vertical-align: middle;
}


@mixin v-core-widget {
  // Convenience placeholder to mimic a widget
  %v-widget,
  .v-widget {
    @include v-core-widget-style;
  }
}
