@mixin v-core-window ($primary-stylename: v-window) {
	.#{$primary-stylename}-restorebox-disabled,
	.#{$primary-stylename}-maximizebox-disabled {
		display: none;
	}

	.#{$primary-stylename}-modalitycurtain {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}