@import "loading-indicator";
@import "contextmenu";
@import "overlay";
@import "notification";
@import "tooltip";


@mixin v-valo-app-style {
  font: $v-font-weight #{$v-font-size}/#{$v-line-height} $v-font-family;
  color: $v-font-color;
  background-color: $v-app-background-color;
  cursor: default;
  
  // Use Helvetica Neue for Mac instead of Helvetica, which has a slightly different baseline
  @if $v-font-family == sans-serif {
  	.v-mac & {
        font-family: "Helvetica Neue", sans-serif;
  	}
  }
}


@mixin v-valo-global {
  
  //@if & != null {
  //  &,
  //  &.v-app-loading {
  //    @include v-valo-app-style;
  //  }
  //} @else {
    &.v-app,
    &.v-app-loading {
      @include v-valo-app-style;
    }
  //}

  //&.v-overlay-container {
  //  position: absolute;
  //  top: 0;
  //}
  
  @include v-valo-loading-bar;
  
  .v-scrollable:focus {
    outline: none;
  }
  
  //.v-captiontext,
  //.v-errorindicator,
  //.v-required-field-indicator,
  img.v-icon {
    vertical-align: middle;
  }
  
  .v-caption {
    font-size: $v-caption-font-size;
    font-weight: $v-caption-font-weight;
    padding-bottom: .3em;
    @if $v-border-radius > 0 {
      padding-left: round($v-border-radius/4);
    }
  }

  .v-icon + .v-captiontext,
  .v-icon + span {
    margin-left: round($v-unit-size/5);
  }
  
  .v-errorindicator {
    color: red;
    font-weight: 600;
    width: ceil($v-unit-size/2);
    text-align: center;
    
    &:before {
      content: "!";
    }
  }

  select {
    font: inherit;
    font-weight: 400;
    line-height: inherit;
    color: inherit;
    background-color: v-valo-textfield-background-color($v-app-background-color);
  }

  button {
    font: inherit;
    font-weight: 400;
    line-height: inherit;
  }

  .v-disabled {
    cursor: default !important;
  }

  @include v-valo-drag-element;

  @include v-valo-tooltip;

  @include v-valo-contextmenu;

}
