@import "loading-indicator";
@import "contextmenu";


@mixin v-valo-app-style {
  font: $v-font-weight #{$v-font-size}/#{$v-line-height} $v-font-family;
  color: $v-font-color;
  background-color: $v-app-background-color;
  cursor: default;
  
  // Use Helvetica Neue for Mac instead of Helvetica, which has a slightly different baseline
  @if $v-font-family == sans-serif {
  	.v-mac & {
        font-family: "Helvetica Neue", sans-serif;
  	}
  }
}


@mixin v-valo-global {
  
  //@if & != null {
  //  &,
  //  &.v-app-loading {
  //    @include v-valo-app-style;
  //  }
  //} @else {
    &.v-app,
    &.v-app-loading {
      @include v-valo-app-style;
    }
  //}

  &.v-overlay-container {
    position: absolute;
    top: 0;
  }
  
  @include v-valo-loading-bar;
  
  .v-scrollable:focus {
    outline: none;
  }
  
  .v-captiontext,
  .v-errorindicator,
  .v-required-field-indicator {
    vertical-align: middle;
  }
  
  .v-caption {
    font-size: .9em;
    font-weight: $v-font-weight + 100;
    padding-bottom: .3em;
    @if $v-border-radius > 0 {
      padding-left: round($v-border-radius/4);
    }
  }
  
  .v-errorindicator {
    color: red;
    font-weight: 600;
    width: ceil($v-unit-size/2);
    text-align: center;
    
    &:before {
      content: "!";
    }
  }

  .v-disabled {
    cursor: default !important;
  }

  @include v-valo-contextmenu;

}
