$v-overlay-border-radius: $v-border-radius !default;
$v-overlay-border-width: $v-border-width !default;
$v-overlay-open-animation: v-valo-overlay-open 200ms !default;

.v-shadow,
.v-shadow-window {
	display: none;
}



@function v-valo-overlay-background-color ($context: $v-app-background-color) {
	@return v-valo-textfield-background-color($context);
}




@mixin v-valo-overlay-style ($background-color: null, $open-animation: $v-overlay-open-animation) {
	padding: ceil($v-unit-size/8);
	border-radius: $v-overlay-border-radius;
  
  $bg: $background-color or v-valo-overlay-background-color();
  background: $bg;
  color: v-valo-font-color($bg);

	box-shadow:	0px 2px 4px 0px rgba(0,0,0,0.12), 
							0px 0px 0px $v-overlay-border-width rgba(darken($bg, $v-bevel-depth), $v-bevel-depth/100%), 
							0px 3px 5px 0px rgba(0,0,0,0.05);

	@if $v-animations-enabled and $v-overlay-open-animation {
		@include animation($open-animation);
	}
    
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}



@if $v-animations-enabled {
	@include keyframes(v-valo-overlay-open) {
		0% {
			@include transform(translatey(-3px));
			opacity: 0;
		}
	}
}





@mixin v-valo-selection-item {
	cursor: pointer;
	line-height: ceil($v-unit-size/1.4);
	padding: 0 ceil($v-unit-size/4);
	@if $v-border-radius {
		border-radius: $v-border-radius - 1px;
	}
	font-weight: $v-font-weight + 100;

	position: relative;
	&:active:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #000;
		@include opacity(.1);
		pointer-events: none;
	}
}




@mixin v-valo-selection-item-selected ($parent-background-color: null) {
	$selection-color: v-valo-selection-color($parent-background-color);
	@include v-valo-gradient($selection-color);
	color: v-valo-font-color($selection-color);
}
