@import "../util/color";

$v-app-background-color:  #fafafa   !default;

$v-font-size:             15px      !default;	// Should be specified in pixels
$v-font-weight:           300       !default;
$v-font-color:            font-color($v-app-background-color) !default;
$v-font-family:           "Helvetica Neue", sans-serif !default;

$v-unit-size:             ceil(2.4 * $v-font-size) !default;	// Must be specified in pixels

$v-layout-margin-top:     ceil($v-unit-size) !default;
$v-layout-margin-right:   ceil($v-unit-size) !default;
$v-layout-margin-bottom:  ceil($v-unit-size) !default;
$v-layout-margin-left:    ceil($v-unit-size) !default;

$v-layout-spacing-vertical:   ceil($v-unit-size/3) !default;
$v-layout-spacing-horizontal: ceil($v-unit-size/3) !default;

$v-border-radius:         4px       !default;	// Must be specified in pixels

$v-gradient-depth:        5%       !default;
$v-gradient-style:        linear    !default;

$v-emboss-depth:          20%       !default;
$v-emboss-style:		  sharp	!default;

$v-focus-color:           #00b4f0   !default;
