// FLAT STYLE
$v-gradient-depth: 0%;
$v-shadow-depth: 0%;
$v-bevel-depth: 0%;
$v-border-width: 0;
$v-unit-size: 40px;
$v-font-size: 16px;
$v-font-weight: 400;
$v-app-background-color: #333;
$v-textfield-background-color: rgb(130,130,130);